<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Habr news</title>
    <style>
        html, body {
            margin: 0;
            padding: 0;
        }

        body {
            width: 100%;
            min-width: 800px;
            max-width: 1400px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
<ul>
    {% if news %}
    {% for article in news %}
    <li>
        <h4><a target="_blank" href="{{ article.article_url }}">{{ article.title }}</a></h4>
        {{ article.time }} Рейтинг: <span class='score'> {{ article.score }}</span> {{ article.votes }}
        Просмотры: {{ article.views }} Комментарии: {{ article.comments }}
    </li>
    {% endfor %}
    {% endif %}
</ul>
</body>
</html>